<div class="page-header">
  <h1>Crash Reports</h1>
</div>
{{#if records}}
<table class="table">

  <tr>
    <th>Stackwalk</th>
    {{#each fields}}
      <th>{{titleCase this}}</th>
    {{/each}}
  </tr>

  {{#each records}}
    <tr>
      <td>
        <a href="{{reportUrl this.id}}">view</a>
      </td>
    {{#each this.props}}
      <td>
        {{#if this.path}}
          <a href="{{this.path}}">download</a>
        {{else}}
        {{this}}
        {{/if}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
</table>
{{> pagination}}
{{else}}
  <p>No crash reports</p>
{{/if}}
<form accept="{{baseUrl}}crashreports" method="POST" enctype="multipart/form-data">
    Select crash dump to upload:
    <input type="file" name="upload_file_minidump" id="upload_file_minidump" accept=".dmp" required="required"/>
    <input type="text" name="prod" id="prod" value="BedrockDriver"/>
    <input type="test" name="ver" id="ver" value="3.3.31"/>
    <input type="submit" value="Upload Crash Dump" name="submit"/>
</form>
