<div class="page-header">
  <h1>Symfiles</h1>
</div>
{{#if records}}
<table class="table">

  <tr>
    <th>Contents</th>
    {{#each fields}}
      <th>{{titleCase this}}</th>
    {{/each}}
  </tr>

  {{#each records}}
    <tr>
      <td>
        <a href="{{symfileUrl this.id}}">view</a>
      </td>
    {{#each this.props}}
      <td>
        {{this}}
      </td>
    {{/each}}
    </tr>
  {{/each}}
</table>
{{> pagination}}
{{else}}
  <p>No symfiles</p>
{{/if}}

<form accept="{{baseUrl}}symfiles" method="POST" enctype="multipart/form-data">
    Select pdb or syms to upload:
    <input type="file" name="symfile" id="symfile" accept=".pdb,.syms" required="required"/>
    <input type="submit" value="Upload syms" name="submit"/>
</form>